main {
    background-color: #14254c;
    color:#fff;
}

.mb-3{
    color:#43fd22;
    text-align: center;
padding-bottom: 2rem;
text-transform: uppercase;
font-size: 4rem;
}

p{
    text-align: center;
padding-bottom: 2rem;
color:#43fd22;
text-transform: uppercase;
font-size: 4rem;
}

#table thead tr th{
    color: #fff;
    background-color: #333;
}