<main>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <header class="header">
        <a href="#" class="logo"><span>e</span>vent</a>

        <nav class="navbar">
            <a href="#aboutHome">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/contact-page">contact us</a>
        </nav>

        <div id="menu-bars" class="fas fa-bars"></div>
    </header>

    <!-- Home section content -->
    <section class="home" id="aboutHome">
        <div class="content">
            <h3>its time to celebrate! the best <span> event organizers </span></h3>
            <a href="/contact-page" class="btn">contact us</a>
        </div>

        <div class="swiper-container home-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="./../../../assets/images/slide1.jpeg" alt=""></div>
                <div class="swiper-slide"> <img src="./../../../assets/images/slide2.jpeg" alt=""></div>
                <div class="swiper-slide"> <img src="./../../../assets/images/slide3.jpeg" alt=""></div>
                <div class="swiper-slide"> <img src="./../../../assets/images/slide4.jpeg" alt=""></div>
                <div class="swiper-slide"> <img src="./../../../assets/images/slide5.jpeg" alt=""></div>
                <div class="swiper-slide"> <img src="./../../../assets/images/slide6.jpeg" alt=""></div>
                <div class="swiper-slide"> <img src="./../../../assets/images/slide7.jpeg" alt=""></div>
            </div>
        </div>
    </section>

    <!-- Service section content -->
    <section class="service" id="aboutService">
        <h1 class="heading">our <span>services</span></h1>
        <div class="box-container">
            <div class="box">
                <i class="fas fa-map-marker-alt"></i>
                <h3>Venue selection</h3>
                <p>Discover the perfect setting tailored to your event's vision with our meticulous venue selection
                    services.</p>
            </div>

            <div class="box">
                <i class="fas fa-envelope"></i>
                <h3>Invitation Card</h3>
                <p>Set the tone for your event with elegant invitation cards that promise an unforgettable experience.
                </p>
            </div>

            <div class="box">
                <i class="fas fa-music"></i>
                <h3>Entertainmnet</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, labore!</p>
            </div>

            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>Food and Drinks</h3>
                <p>Savor delectable delights and refreshing libations at our meticulously curated event food and drinks
                    selection.</p>
            </div>

            <div class="box">
                <i class="fas fa-photo-video"></i>
                <h3>Photo and Videos</h3>
                <p>Capture every moment in stunning detail with our expert event photo and video services.</p>
            </div>

            <div class="box">
                <i class="fas fa-birthday-cake"></i>
                <h3>Custom Food</h3>
                <p>Indulge in the exquisite flavors of personalized cuisine with our custom food offerings.</p>
            </div>
        </div>
    </section>

    <!-- About section content -->
    <section class="about" id="aboutAbout">
        <h1 class="heading"><span>about</span>us</h1>

        <div class="row">
            <div class="image">
                <img src="./../../../assets/images/about-img.jpeg" alt="">
            </div>

            <div class="content">
                <h3>We will give a very special celebration for you</h3>
                <p>Prepare for a truly extraordinary celebration crafted just for you,
                    Expect a bespoke celebration, tailored to honor your uniqueness,
                    Anticipate an unforgettable event designed exclusively in your honor.</p>
                <p>Join us for a remarkable occasion dedicated solely to your joy,
                    Get ready to be dazzled by a bespoke extravaganza in your honor."</p>
            </div>
            <a href="/contact-page" class="btn">contact us</a>
        </div>
    </section>

    <!-- Gallary section content -->
    <section class="gallary" id="aboutGallary">
        <h1 class="heading">our <span>gallary</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="./../../../assets/images/g-1.jpeg" alt="">
                <h3 class="title">News Events</h3>
                <div class="icons">
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-share"></a>
                    <a href="/login" class="fas fa-eye"></a>
                </div>
            </div>

            <div class="box">
                <img src="./../../../assets/images/g-2.jpeg" alt="">
                <h3 class="title">Business Events</h3>
                <div class="icons">
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-share"></a>
                    <a href="/login" class="fas fa-eye"></a>
                </div>
            </div>

            <div class="box">
                <img src="./../../../assets/images/g-3.jpeg" alt="">
                <h3 class="title">Wedding Events</h3>
                <div class="icons">
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-share"></a>
                    <a href="/login" class="fas fa-eye"></a>
                </div>
            </div>

            <div class="box">
                <img src="./../../../assets/images/g-4.jpeg" alt="">
                <h3 class="title">Kite festival Events</h3>
                <div class="icons">
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-share"></a>
                    <a href="/login" class="fas fa-eye"></a>
                </div>
            </div>

            <div class="box">
                <img src="./../../../assets/images/g-5.jpeg" alt="">
                <h3 class="title">Diwali Events</h3>
                <div class="icons">
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-share"></a>
                    <a href="/login" class="fas fa-eye"></a>
                </div>
            </div>

            <div class="box">
                <img src="./../../../assets/images/g-6.jpeg" alt="">
                <h3 class="title">Holi Events</h3>
                <div class="icons">
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-share"></a>
                    <a href="/login" class="fas fa-eye"></a>
                </div>
            </div>

            <div class="box">
                <img src="./../../../assets/images/g-7.jpeg" alt="">
                <h3 class="title">Celebraction Events</h3>
                <div class="icons">
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-share"></a>
                    <a href="/login" class="fas fa-eye"></a>
                </div>
            </div>

            <div class="box">
                <img src="./../../../assets/images/g-8.jpeg" alt="">
                <h3 class="title">Upcoming Events</h3>
                <div class="icons">
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-share"></a>
                    <a href="/login" class="fas fa-eye"></a>
                </div>
            </div>

            <div class="box">
                <img src="./../../../assets/images/g-9.jpeg" alt="">
                <h3 class="title">Birthday Events</h3>
                <div class="icons">
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-share"></a>
                    <a href="/login" class="fas fa-eye"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Price section content -->
    <section class="price" id="aboutPrice">
        <h1 class="heading">our <span>price</span></h1>
        <div class="box-container">
            <div class="box">
                <h3 class="title">for birthdays</h3>
                <h3 class="amount">$299.00</h3>
                <ul>
                    <li><i class="fas fa-check"></i>full services</li>
                    <li><i class="fas fa-check"></i>decorations</li>
                    <li><i class="fas fa-check"></i>music and photos</li>
                    <li><i class="fas fa-check"></i>food and drinks</li>
                    <li><i class="fas fa-check"></i>invitation card</li>
                </ul>
                <a href="/login" class="btn">check out</a>
            </div>

            <div class="box">
                <h3 class="title">for Wedding</h3>
                <h3 class="amount">$599.00</h3>
                <ul>
                    <li><i class="fas fa-check"></i>full services</li>
                    <li><i class="fas fa-check"></i>decorations</li>
                    <li><i class="fas fa-check"></i>music and photos</li>
                    <li><i class="fas fa-check"></i>food and drinks</li>
                    <li><i class="fas fa-check"></i>invitation card</li>
                </ul>
                <a href="/login" class="btn">check out</a>
            </div>

            <div class="box">
                <h3 class="title">for concerts</h3>
                <h3 class="amount">$899.00</h3>
                <ul>
                    <li><i class="fas fa-check"></i>full services</li>
                    <li><i class="fas fa-check"></i>decorations</li>
                    <li><i class="fas fa-check"></i>music and photos</li>
                    <li><i class="fas fa-check"></i>food and drinks</li>
                    <li><i class="fas fa-check"></i>invitation card</li>
                </ul>
                <a href="/login" class="btn">check out</a>
            </div>

            <div class="box">
                <h3 class="title">for others</h3>
                <h3 class="amount">$999.00</h3>
                <ul>
                    <li><i class="fas fa-check"></i>full services</li>
                    <li><i class="fas fa-check"></i>decorations</li>
                    <li><i class="fas fa-check"></i>music and photos</li>
                    <li><i class="fas fa-check"></i>food and drinks</li>
                    <li><i class="fas fa-check"></i>invitation card</li>
                </ul>
                <a href="/login" class="btn">check out</a>
            </div>

        </div>
    </section>

    <!-- Review section content -->
    <section class="review" id="aboutReview">
        <h1 class="heading">client's<span>Review</span></h1>
        <div class="review-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./../../../assets/images/pic-1.jpeg" alt="">
                        <div class="user-info">
                            <h3>John Deo</h3>
                            <span>happy clients</span>
                        </div>
                    </div>
                    <p>Our wedding was a dream come true, thanks to the impeccable planning and execution by your Events
                        System! From start to finish, every detail was flawless, and our guests are still raving about
                        the magical atmosphere created. We couldn't be happier with their professionalism and dedication
                        to making our special day truly unforgettable.</p>
                </div>

                <div class="swiper-slide box">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./../../../assets/images/pic-2.jpeg" alt="">
                        <div class="user-info">
                            <h3>Alan Sugar</h3>
                            <span>happy clients</span>
                        </div>
                    </div>
                    <p>for orchestrating an absolutely fabulous charity gala! Their team went above and beyond to ensure
                        every guest felt valued and engaged throughout the evening. From the seamless logistics to the
                        captivating entertainment, it was evident that GHI's expertise and passion for their craft shone
                        brightly. Our event's success is a testament to their dedication and creativity - we're grateful
                        for their outstanding work!</p>
                </div>

                <div class="swiper-slide box">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./../../../assets/images/pic-3.jpeg" alt="">
                        <div class="user-info">
                            <h3>Joe Lewis</h3>
                            <span>happy clients</span>
                        </div>
                    </div>
                    <p>I cannot express enough how grateful we are to your Event System Planners for making my
                        daughter's sweet sixteen party a huge success! From the stunning décor to the seamless
                        coordination of entertainment, every aspect was beyond our expectations. The joy on my
                        daughter's face said it all - thank you for creating such cherished memories!</p>
                </div>

                <div class="swiper-slide box">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./../../../assets/images/pic-4.jpeg" alt="">
                        <div class="user-info">
                            <h3>Jamal Edwards</h3>
                            <span>happy clients</span>
                        </div>
                    </div>
                    <p>Hats off to your Event Management for organizing an outstanding corporate retreat for our team!
                        Their meticulous planning ensured a perfect balance of team-building activities and relaxation.
                        The attention to detail was remarkable, and our employees left feeling rejuvenated and more
                        connected than ever. We'll definitely be turning to DEF for our future events!</p>
                </div>

                <div class="swiper-slide box">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./../../../assets/images/pic-5.jpeg" alt="">
                        <div class="user-info">
                            <h3>Victoria Beckham</h3>
                            <span>happy clients</span>
                        </div>
                    </div>
                    <p>Huge shoutout to Events for turning our company's annual conference into an unforgettable
                        experience! From the moment we arrived, everything was expertly coordinated, allowing us to
                        focus on networking and learning. The innovative session setups and engaging speakers kept
                        everyone energized and inspired. JKL's attention to detail and commitment to excellence truly
                        set them apart - we can't wait to work with them again next year!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Branches</h3>
                <a href="/login"><i class="fas fa-map-marker-alt"></i> Ahmedabad</a>
                <a href="/login"><i class="fas fa-map-marker-alt"></i> Gandhinagar</a>
                <a href="/login"><i class="fas fa-map-marker-alt"></i> Rajkot</a>
                <a href="/login"><i class="fas fa-map-marker-alt"></i> Surat</a>
                <a href="/login"><i class="fas fa-map-marker-alt"></i> Bhavanagar</a>
            </div>

            <div class="box">
                <h3>Quick Links</h3>
                <a href="/home-page"><i class="fas fa-arrow-right"></i> Home</a>
                <a href="/login"><i class="fas fa-arrow-right"></i> login</a>
                <a href="/register"><i class="fas fa-arrow-right"></i> register</a>
                <a href="/contact-page"><i class="fas fa-arrow-right"></i> contact us</a>
            </div>

            <!-- <div class="box">
      <h3>contact info</h3>
      <a href="#"><i class="fas fa-phone">+91 8849601038</i></a>
      <a href="#"><i class="fas fa-arrow-right">+91 9898718850</i></a>
      <a href="#"><i class="fas fa-envelope">umeshrajeshbhai7gmail.com</i></a>
      <a href="#"><i class="fas fa-envelope">umeshrajeshbhai554gmail.com</i></a>
      <a href="#"><i class="fas fa-map-marker-alt">Ahmedabad - 380004</i></a>
    </div> -->

            <div class="box">
                <h3>follow us</h3>

                <a href="https://www.facebook.com/profile.php?id=100040524136704"><i class="fab fa-facebook-f"></i>
                    facebook</a>
                <a href="https://twitter.com/UmeshRajes11787"><i class="fab fa-twitter"></i> twitter</a>
                <a href="https://www.instagram.com/umesh___2002/"><i class="fab fa-instagram"></i> instagram</a>
                <a
                    href="https://www.linkedin.com/in/umesh-rajeshbhai-803123252?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "><i
                        class="fab fa-linkedin"></i> linkedin</a>
            </div>
        </div>
        <div class="credit">created by <span>Umesh Dantani</span> | All rights reserved!</div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>